body {
	max-width: 100%;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}


.logo {
    margin-top: -4vh;
}


.logo img {
    width: 140px;
}


.pagecontainer {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	font-family: 'Didact Gothic';
	color: #1d1d1b;
}

.pagecontainer h1 {
	font-size: 2.5rem;
	font-weight: 500;
}

.pagecontainer h2 {
	font-size: 1.1rem;
	z-index: 2;
	line-height: 1.5rem;
}

.pagecontainer h3 {
	font-size: 1.1rem;
	color: #919191;
	z-index: 2;
}

@media only screen and (max-width: 450px) {

	.pagecontainer h1 {
		font-size: 25px
	}

	.pagecontainer h2 {
		font-size: 15px;
		line-height: 1.3rem;
	}

	.pagecontainer h3 {
		font-size: 15px;
	}

	.pagecontainer {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		font-family: 'Didact Gothic';
		color: #1d1d1b;
		padding-left: 30px;
		padding-right: 30px;
	}

	.logo {
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: -20vh;
	}

	.logo img {
    width: 140px;
}

}

.imgOot img{
    width: 320px;
    z-index: 0;
    margin-top: -40px;
}



@media only screen and (max-width: 450px) {
	.logo {
    margin-top: -2vh;
}

	.logo img {
		width: 120px;
	}
}
















