body {
	padding: 0;
	margin: 0;
}


.logo {
    margin-top: -12vh;
}


.logo img {
    width: 150px;
}


.pagecontainer {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	font-family: 'Didact Gothic';
	color: #1d1d1b;
}

.pagecontainer h1 {
	font-size: 2.7rem;
	font-weight: 500;
	color: red;
}

.pagecontainer h2 {
	font-size: 1.5rem;
}

.pagecontainer h3 {
	font-size: 1rem;
	color: #919191;
}

@media only screen and (max-width: 450px) {

	.pagecontainer h1 {
		font-size: 25px
	}

	.pagecontainer h2 {
		font-size: 18px;
	}

	.pagecontainer h3 {
		font-size: 14px;
	}

	.pagecontainer {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		font-family: 'Didact Gothic';
		color: #1d1d1b;
		padding-left: 30px;
		padding-right: 30px;
	}

	.logo {
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: -20vh;
	}

	.logo img {
    width: 140px;
}


}


